* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  background-color: hsl(275, 100%, 97%);
  background-image: url("../assets/images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

p {
  font-size: 1rem;
}

main {
  margin: auto;
  max-width: 39.0625rem;
}

section {
  background: hsl(0, 100%, 100%);
  padding: 45px 40px 15px;
  border-radius: 1rem;
  margin: 175px 0;
}

ul {
  list-style: none;
  margin-top: 8px;
}

li:not(:last-child) {
  border-bottom: 1px solid hsl(275, 100%, 97%);
}

li {
  padding: 30px 0;
}

details {
  color: hsl(292, 16%, 49%);
}

details[open] .icon-minus {
  display: flex;
}

details[open] .icon-plus {
  display: none;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1875rem;
  font-weight: 600;
  color: hsl(292, 42%, 14%);
  list-style: none;
}
summary:hover {
  color: #a52dda;
  cursor: pointer;
}

h1 {
  display: inline-block;
  padding-left: 25px;
  font-weight: 700;
  font-size: 3.5rem;
  color: hsl(292, 42%, 14%);
}

p {
  padding-top: 29px;
  line-height: 1.6;
}

.icon-minus {
  display: none;
}

@media screen and (max-width: 44.5rem) {
  body {
    background-image: url("../assets/images/background-pattern-mobile.svg");
  }
  main {
    max-width: 20.3125rem;
  }
  section {
    padding: 25px 25px 10px 25px;
    margin: 145px 0;
  }
  h1 {
    font-size: 2.0625rem;
    padding-left: 18px;
  }
  .icon-star {
    width: 24px;
  }
  summary {
    font-size: 1rem;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  summary:hover {
    color: hsl(292, 42%, 14%);
  }
  p {
    line-height: 1.5;
    font-size: 0.875rem;
    padding-top: 25px;
  }
  ul {
    margin-top: 0px;
  }
  li {
    padding: 20px 0;
  }
}