@import './config';

main {
    margin: auto;
    max-width: 39.0625rem;
}

section {
    background: $white;
    padding: 45px 40px 15px;
    border-radius: 1rem;
    margin: 175px 0;
}

ul {
    list-style: none;
    margin-top: 8px;

}

li:not(:last-child) {
    border-bottom: 1px solid $purple_100;
}

li {
    padding: 30px 0;
}

details {
    color: $purple_600;
}

details[open] .icon-minus {
    display: flex;
}

details[open] .icon-plus {
    display: none;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1875rem;
    font-weight: 600;
    color: $purple_950;
    list-style: none;

    &:hover {
        color: $hover_color;
        cursor: pointer;
    }
}

h1 {
    display: inline-block;
    padding-left: 25px;
    font-weight: 700;
    font-size: 3.5rem;
    color: $purple_950;
}

p {
    padding-top: 29px;
    line-height: 1.6;
}

.icon-minus {
    display: none;
}



@import "./mobile";